<%= simple_form_for(@drive_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :address_extended %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :country %>
    <%= f.association :drive %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
