<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 style="text-align: center;"><%= @drive %></h3>
    </div>
  </div>

  <%= form_for @drive_appointment, html: { class: "form-horizontal", role: "form" } do |f| -%>
    <div class="form-group">
      <%= f.label :drive_slot_id, "Slot", class: "col-sm-offset-2 col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.select :drive_slot_id, @drive.drive_slots.available.map { |ds| [ds, ds.id] }, {}, class: "form-control" %>
      </div>
    </div>

    <%= f.fields_for :user do |u| -%>
      <div class="form-group">
        <%= u.label :name, class: "col-sm-offset-2 col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= u.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= u.label :email, class: "col-sm-offset-2 col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= u.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= u.label :phone, class: "col-sm-offset-2 col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= u.text_field :phone, class: "form-control" %>
        </div>
      </div>
    <%- end -%>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= f.submit class: "btn btn-default pull-right" %>
      </div>
    </div>
  <%- end -%>
</div>
