<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blood Drive" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blood Drive" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "google-maps", "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main role="main">
      <header>
        <%= render 'layouts/navigation' %>
      </header>

     <%= render 'layouts/messages' %>
     <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="byline">brought to you by legacy program 112 — <span class="glyphicon glyphicon-heart" style="font-size: 10px;"></span> all heart <span class="glyphicon glyphicon-heart" style="font-size: 10px;"></span></div>
      </div>
    </footer>
  </body>
</html>
